# Byte-compiled / optimized Python files
__pycache__/
*.pyc
# Local development environment
#.env
# IDE files
.vscode/
.idea/
# Python environment
#venv/
#env/

# Log files
#*.log
# Dependency directories
prometheus-2.52.0.darwin-amd64/
node_exporter-1.8.1.darwin-amd64/
grafana-v11.0.0/
alertmanager-0.27.0.darwin-amd64/